<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>

<body>
    <div class="navsection">
        <div class="title">
            <h1>school</h1>
        </div>
        <div class="menu">
            <a href="teachers">Teachers</a>
            <a href="students">Students</a>
        </div>
        <div class="user">
            <h4>Principal</h4>
        </div>
    </div>
</body>

</html>